
/****************************************************************************************
 *  
 * Layout and Basic Design Styles
 * 
 * Styles for the responsive design of the pages.
 * 
 ****************************************************************************************/

	.random-spotlight-control h2.title {
		border-bottom:solid 1px #000;
	}

	.random-spotlight-control .spotlight-connections h2.title {
		border-bottom-color:#ccc;
		background-color:#f6f6f6;
		padding:0.3em 0.5em;
	}

	.random-spotlight-control .find-more {
		text-align:right;
	}

	.post.connection {
		padding: 5px 0px;
		padding-bottom: 10px;
		margin-bottom: 5px;
		border:none !important;
	}
	
	.post.connection .connection-groups > div {
		background-color:#f6f6f6;
		border:solid 1px #ccc;
		padding:0.2em 0.5em;
		margin-bottom:0.5em;
	}
	
	.post.connection  .entry-content .column > div {
		border-bottom:solid 1px #ccc;
		padding:0.5em 0em;
	}
	
	.post.connection .contact-info p:last-child {
		margin-bottom:0;
	}
	
	.post.connection .column-2 h5 {
		margin-bottom:0;
	}
	
	.post.connection .connection-links {
		padding:0.5em !important;
		background-color:#f6f6f6;
		border:solid 1px #ccc;
	}
	
	.post.connection .post-contents {
		margin-top:1em;
		border-top:solid 1px #ccc;
		padding:1em 0em;
	}


/****************************************************************************************
 * Tablet-sized device or larger.
 ****************************************************************************************/

@media (min-width: 48.000em) {

	.post.connection .post.connection .connection-groups {
		text-align:right;
	}

	.post.connection .post.connection .connection-groups > div {
		display:inline-block;
		background-color:inherit;
		border-color:transparent;
		padding:0em;
		margin-left:0.5em;
	}

	.post.connection .entry-content .column > div {
		border-bottom-width:0;
	}

	#content .post.connection .entry-content .column-1 > div {
		margin-right:0.5em;
	}
	
	.post.connection .entry-content,
	.post.connection .connection-links {
		display:table;
		width:100%;
		padding:0 !important;
	}
	
	.post.connection .entry-content > div,
	.post.connection .connection-links > div {
		display:table-row;
	}
	
	.post.connection .entry-content > div > div,
	.post.connection .connection-links > div > div {
		display:table-cell;
		vertical-align: top;
	}

	.post.connection .connection-links {
		border:solid 1px #ccc !important;
	}
	
	.post.connection .entry-content .column-1 > div {
		padding:0;
	}
	
	.post.connection .entry-content div.column-1 {
		width:40%;
	}

	.post.connection .entry-content div.column-2 {
		width:60%;
	}
	
	.post.connection .connection-links > div > div {
		padding:0.5em 2%;
		width:46%;
		vertical-align:top;
	}
	
	.post.connection .column-2 h5 {
		margin:0;
	}
}


/****************************************************************************************
 * Desktop PC-sized device or larger.
 ****************************************************************************************/

@media (min-width: 64.063em) {

}
